
.path-frontpage .leaflet-control-container {
  display: none;
}

.leaflet-clickable {
    -webkit-animation: pulsate 1s ease-in;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.pulsar {
    border: 3px solid #999;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-in;
    -webkit-animation-iteration-count: 2;
    /*opacity: 0.0*/
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


.fa.active {
    color: #888;
}

a.leaflet-control-timecontrol.timecontrol-date {
  width: 120px;
  padding-left: 30px !important;
  font-weight: bold;
}
.leaflet-touch .timecontrol-slider .slider {
  margin-top: 14px;
}
.timecontrol-slider .slider {
  margin-left: 10px;
  height: 2px;
  border-color: #000;
}
.timecontrol-slider .knob {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-top: -7px;
  margin-left: -12px;
  border: 0px;
  background-color: #000;
}

.leaflet-marker-icon div:before {
    position: absolute;
    top: 11px;
    left: 18px;
    font-size: 15px;
}


/* Hide default styles */
.leaflet-div-icon {
    border: 0;
    background: none;
}
