
.stuck {
  position: fixed !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  width: 100vw;
  right: 0;
  top:0;
  margin: 0;
  padding: 0;
  box-shadow:  -36px 1px 36px rgb(0 0 0 / 8%);
  z-index: 3!important;
}

#map.stuck {
  top: 0;
  height: 250px;
  max-width: 98.125rem;
  left: 0
}

.stuck .leaflet-top leaflet-left {

}

#map.stuck.stuck-nav {
  top:100px;
  height: 250px;
  max-width: 98.125rem;
  left: 0
}
.user-logged-in #map.stuck {
  position: inherit!important;
}

contextual {
  z-index: 0;
}



body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .leaflet-top,
body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .leaflet-bottom {
}

/* Geolocation fieldset stuck behaviour */

#edit-field-geolocation-0-map-container legend {
  display:none
}

div#geolocation-nominatim-map {
  transition: all .5s linear;
}


fieldset#edit-field-geofield-wrapper.stuck legend {
  display: none;
}

fieldset#edit-field-geofield-wrapper.stuck div {
  margin: 0;
  padding: 0;
}

fieldset#edit-field-geolocation-0-map-container div.panel-body, fieldset#edit-field-geolocation-0-map-container {
  padding: 5px;
}


/* Layer the bar just above the trays and above contextual link triggers. */
.toolbar-oriented .toolbar-bar {
  z-index: 1502;
}


.toolbar-vertical.toolbar-fixed .stuck,
.toolbar-horizontal.toolbar-fixed .stuck,
.toolbar-vertical.toolbar-fixed .timecontrol-date.utc,
.toolbar-horizontal.toolbar-fixed .timecontrol-date.utc {
  position: fixed;
  right: 0;
  top: 39px;
}
.toolbar-vertical.toolbar-fixed.toolbar-tray-open .stuck,
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open .timecontrol-date.utc {
  position: fixed;
  right: 0;
  top: 80px;
}

.leaflet-popup-content {
    max-width: 180px;
}

.map-request-block {
  width: 100%;
  height: 220px;
  position: relative;
}

.map-block {
  width: 100%;
  height: 280px;
  position: relative;
}


/* Timeline makes no sense on smartphone screens.
 Hiding this feature until there is a better solution for this.
 */
@media (max-width: $screen-xs) {
  div.easy-button-container:nth-child(1) {
      display: none;
  }
}
/*

@media (max-width: 767px)
.leaflet-bar-timecontrol .timecontrol-date, .leaflet-bar-timecontrol .timecontrol-slider {
    clear: none;
    float: none;
    border-right: none;
}

*/


.leaflet-control-geocoder {
  background: #fff!important;
}

/* Styles for locate button */
.leaflet-control-locate span.fa.fa-map-marker {
    border: 0;
}

.leaflet-control-locate a:last-child {
    border-radius: 0;
}
.leaflet-control-locate a:first-child {
    border-radius: 0;
}

.leaflet-bottom.leaflet-right {
    border: 0 solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.toolbar-tray-open .grippie {
    top: 320px;

}

.leaflet-bottom.leaflet-left {
  width: 100%;
}
.leaflet-control.leaflet-timeline-control .sldr-ctrl-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.leaflet-control.leaflet-timeline-control {
  width: 96%;
  box-sizing: border-box;
  margin: 2%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.18)

}

.button-container {padding:  10px;}

.button-container button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  margin: 2px;
}
