@import "variables.pcss.css";



div#block-markaspotactionstats  {
  position: relative;
  z-index: 10;
  top: -72px;
  width: 40%;
  margin: 0;
  padding: 0.1rem 1rem;

  @media (--grid-md) { /* 700px */
    top: -72px;
  }

  @media (--lg) {
    top: -172px;
  }
}


