<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="../../../core/tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <php>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="SIMPLETEST_DB" value="mysql://db:db@db/db"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>modules/*/tests/src/Unit</directory>
      <directory>tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>modules/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>modules/*/tests/src/Functional</directory>
    </testsuite>
  </testsuites>
</phpunit>
