/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #ffffff;
}
#wrapper,
.block-masradix-mainnavigation-menu a.is-active {
  background: #ffffff;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}


.leaflet-control-locate {
  border-color: #0071b3 !important;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-offcanvas.in {
  background-color: #292929;
}


.btn-default:active:hover {
    background-color: #055a8e;
    color: #fff
}


.btn,
.mas-action li a,
.btn-default,
.add-block p a,
.btn-default:active,
.pager li > a, .pager li > span,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  /* color: #055a8e; */
  /* text-transform:uppercase; */
  /* border: 1px solid #999; */
  /* position: relative; */
}

.btn-default,
.notifications li,
.button.button--primary {
  color: #eee;
  background-color: #055a8e;
  text-decoration:none;
  text-transform:inherit;
}

.btn.start{
    text-transform:inherit;
    text-decoration:none;
}
.btn.report {
  color: #eee;
  background-color: #055a8e;
  /* text-transform:inherit; */
}

.btn.visualize {
  color: #eee;
  background-color: #1d84c3
}

.btn.request {
  color: #eee;
  background-color: #1d84c3
}

.btn.start:after {
    /* background-color: #037fcc; */
}

.btn.start:hover,
.btn.start:active,
.btn.start:focus,
.btn-circle:hover,
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
  color: #f5f5f5;
  background-color: #1d84c3;
}

.view--requests .view__header,
.shariff-button a,
header.clearfix,
.add-block,
footer#footer,
.region-sidebar li.list-group-item,
fieldset#edit-field-geolocation-0-map-container,
.form-item-field-request-image-0 {
  background-color: #eee;
}

footer#footer {
  background-color: #1d84c3;
}

.block.block--markaspotbuiltwithblock {
  background: none;
}

.nav.navbar-nav li:hover:before {
    background-color: #1d84c3;
}

.navbar a {
  color: #1d84c3;
}

.toggled .shariff-button a,
.nav.navbar-nav > .active > a, .nav.navbar-nav > .active > a:hover, .nav.navbar-nav > .active > a:focus {
  color: #f9f9f9;
  background-color: #1d84c3;
}

.block .user-login-form,
.block--userlogin a,
.nav.navbar-nav > li > a {
  color: #f9f9f9;
}

a,
.link,
.result-filter {
  color: #0071b3;
}

p a {
  text-decoration: underline;
  -moz-text-decoration-color: rgba(0, 113, 179, 0.5); /* Code for Firefox */
  text-decoration-color: rgba(0, 113, 179, 0.5);

}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #1d84c3;
}
a:active,
.link:active {
  color: #0071b3;
}


.site-name,
.site-name a {
  color: #7bceff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

@media (min-width: 1024px) {
  /*
  .navbar-default div.container {
    background: #e2e2e2;
  }*/

  .nav.navbar-nav > li,
  .links.inline a,
  .navbar-inner li {
    text-transform: uppercase;
  }

  nav#sidebar-wrapper {
    color: #000;
  }

  .nav.navbar-nav > li > a {
    color: #000;
  }

  .nav.navbar-nav > li > a:active {
    color: #0071b3!important;
  }

  .nav.navbar-nav > li > a {
    color: #0071b3;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee!important;
    color: #0071b3
  }

}
