/**
 * @file
 * Styling for Mark-a-Spot toolbar.
 */

/* Toolbar tab icon */
.toolbar-bar .toolbar-icon-markaspot-ui:before {
  -webkit-mask-image: none !important;
  mask-image: none !important;
  background: transparent url(../images/logo-small-invert.svg) 50% 50% no-repeat !important;
  background-size: 1.5em !important;
}

.toolbar-bar .toolbar-icon-markaspot-ui:active:before,
.toolbar-bar .toolbar-icon-markaspot-ui.is-active:before {
  background-image: url(../images/logo-small-invert.svg) !important;
  background-size: 1.5em !important;
  opacity: 1;
}

/* Settings overview style for toolbar */
.markaspot-settings-overview {
  margin: 1em 0;
}

.markaspot-settings-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.markaspot-setting-item {
  display: flex;
  padding: 0.75em;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  width: 100%;
  max-width: 300px;
}

.markaspot-setting-item:hover {
  background-color: #e9e9e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.markaspot-icon {
  flex: 0 0 2em;
  height: 2em;
  margin-right: 0.75em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.markaspot-setting-title {
  font-weight: bold;
  font-size: 1.1em;
  color: #0074bd;
  text-decoration: none;
  margin-bottom: 0.25em;
  display: block;
}

.markaspot-setting-description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
}

/* Module specific styling */
.markaspot-toolbar-item {
  padding-left: 1.5em !important;
  background-position: 0.5em center;
  background-repeat: no-repeat;
  background-size: 1em;
}

/* Mobile responsiveness */
@media screen and (max-width: 767px) {
  .markaspot-settings-list {
    flex-direction: column;
  }
  
  .markaspot-setting-item {
    max-width: 100%;
  }
}