$icon-map-marker: "\f041";
$icon-requests: "\f058";
$icon-visualization: "\f200";

.start.btn span {
  position: relative;
  left: -12px;
  display: inline-block;
  width: 3em;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 3px 0 0 3px;
  text-align:center
}
.start {
  padding-top: 0;
  padding-bottom: 0;
  display:block!important;
  text-align: left
}

.start.btn span:before {
  font-family: FontAwesome;
  font-size: 1.3em;
  line-height: 1.2em;
  text-align: right;
}

.start.btn.request span:before{
  content: $icon-requests;
}
.start.btn.visualize span:before{
  content: $icon-visualization;
}
.start.btn.report span:before{
  content: $icon-map-marker;
}





// Modal Close button
.ui-dialog .ui-dialog-titlebar-close {
  color: transparent;
}