div#hero {
  position:fixed;
  top: 25%;
  height: 100%;
  width: 90%;
  background-image: url("/themes/contrib/masradix/assets/images/cc_by_Martin Grandjean_social-n-analys.png");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.02;
  background-position: 0% 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}


/*
    position: absolute;
    top: 20%;
    height: 400px;
    width: 100%;
    background-image: url(/themes/contrib/masradix/assets/images/cc_by_Martin Grandjean_social-n-analys.png);
    filter: grayscale(100%);
    opacity: 1;
    background-position: 0% 0px;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 50% -200px;
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    /* filter: blur(1px);
 */