
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

@media (max-width: $screen-md-max) {

  .navbar-offcanvas {
    padding: 0!important;
    z-index:9999!important;
  }

  .nav .open > a {
    background-color: transparent;
  }

  .nav .open > a:hover {
    background-color: transparent;
  }

  .nav .open > a:focus {
    background-color: transparent;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    width: 270px;
  }

  .navbar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
  }

  .nav.navbar-nav li:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }

  .nav.navbar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
  }

  .navbar-nav li a {
    display: block;
    padding: 10px 15px 10px 20px;
    text-decoration: none;
  }

  .navbar-nav li a:hover, .navbar-left .navbar-nav li a:active, .navbar-left .navbar-nav li a:focus, .navbar-left .navbar-nav li.open a:hover, .navbar-left .navbar-nav li.open a:active, .navbar-left .navbar-nav li.open a:focus {
    background-color: rgba(255, 255, 255, 0.6);
    color: #ffffff;
    text-decoration: none;
  }

  .navbar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
  }

  .navbar-brand {
    float: none !important;
    padding: 0
  }

  .fixed-header {
    position: fixed;
    width: 30px;
    right: 15px;
    top: 25px;
    backface-visibility: hidden;
    z-index: 2;
  }

  .map-stuck .fixed-header {
    //bottom: 25px;
    //top:inherit;
  }

  .map-stuck .leaflet-bar-timecontrol {
    right: 60px;
  }

  .block .user-login-form {
    padding: 20px
  }
}


.navbar-right {
  float: none!important;
  margin-right: -15px;
  clear: left;
}
a.navbar-brand {
  display: block;
  margin-top: -80px;
}


@media (min-width: $screen-md-min) {

  .fixed-header {
    display: none;
  }

  .block .user-login-form {
    display: none;
  }

  .navbar-left {
    margin: 10px 10px 0 0px;
    float: right!important;
  }

  .navbar-right {
    margin: 0 10px 0 0;
    float: right!important;
    clear: none;
  }

  .navbar-nav a {
    overflow:hidden
  }

  .navbar-right ul.nav > li > a {
    /* position: relative; */
    display: block;
    padding: 14px;
  }

  .block--userlogin {
    display:none
  }

  ul.nav li {
    float: left;
  }

}
