[v-cloak] {
  display: none;
}

.block.block--markaspottimetrend,
.block.block--markaspotcategorytrend,
.block.block--markaspotstatustrend,
.block.block--markaspotorganisationtrend {

}

.trend_count, .trend_categories,
.trend_organisations, .trend_status, .trend_time {
  padding: 15px;
  min-height: 280px;
}

#trend_count {
  font-size: 2em;
}

.trend_count {
  font-size: 2em;
  text-align: center;
}

.trend_requests {
  display: block;
}

.bs-region  {
  padding: 10px 30px 10px 30px;
}

.bs-region h4{
  color: #ddd;
}

.bs-region .block__content  {
  /* border-left: 1px solid #ccc; */
  background: #eee;
  /* padding: 10px; */
}

.path--visualization .block-region-top-left h4 {
  visibility: hidden!important;
}


.mas-custom__body ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}


