.path--visualization .mas-custom {
    & h3,
    & ul li,  
    & pre,
    & p {
     font-size: 11px
   }
}

.trend_filter{
  border: 1px $gray-lighter dashed;
  padding: 10px 0
}

.trend_filter label{
  min-width: 50%;
}


.col-md-6.trend_filter_intro {
}

.trend_filter.sticky {
  background: $gray-lighter;
  position:fixed;
  top: 25%;
  right:25px;
  z-index: 1001;
  width:440px!important;
  font-size: 13px;

  @media (max-width: $screen-md-max) {
    width:180px!important;
    font-size: 13px;
  }
  @media (max-width: $screen-sm-max) {
    width:150px!important;
    font-size: 11px;
  }
  @media (max-width: $screen-xs-max) {
    width:130px!important;
    font-size: 10px;
    padding: 5px;

    & div, label, p {
      padding:  2px 7px
    }
  }
  padding: 10px;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.16), 
    0 0 0 1px rgba(0,0,0,0.08);
}

.trend_filter label {
    margin: 11px 0 2px;
    font-weight: normal;
    margin: 0 10px 0 0;
}

.trend_filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100px;
}