
<div class="trend_filter" v-cloak>
    <div class="container">
        <div class="col-lg-4 col-xl-6 trend_filter_intro">
            <p>{{ filter_intro }}</p>
        </div>
        <div class="col-lg-4 col-xl-3">
            <label for="year">Selected Year: ${ selectedYear }</label>
            <select name="year" v-model="selectedYear" class="selectpicker show-tick">
                <option value="">Reset</option>
                <option v-for="year in years" v-bind:value="year">
                    ${ year }
                </option>
            </select>
        </div>
        <div class="col-lg-4 col-xl-3">
            <label for="month">Selected Month: ${ selectedMonth }</label>
            <select name="month" v-model="selectedMonth" class="selectpicker show-tick">
                <option value="">Reset</option>
                <option v-for="month in months" v-bind:value="month">
                    ${ month }
                </option>
            </select>
        </div>
    </div>
</div>

