{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}
<div{{ attributes }}>
    {% if data.upload %}
      <label class="image-widget-data btn btn-block btn-default"><i class="fa fa-camera"></i> {% trans %}Add Photo{% endtrans %}
          {{ data.upload }}
      </label>
    {% endif %}
    {% if data.preview %}
    <div class="image-preview">
      {{ data.preview }}
    </div>
  {% endif %}
    {# Render widget data without the image preview that was output already. #}
    {{ data|without('preview') }}
</div>

