// Page Layout
// -----------------------------------------------------------------------------

// Page
// -----------------------------------------------------------------------------
body {
  background: $body-bg $body-bg-image;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span.site-name {
  display: inline-block;
  margin: 10px 3px;
}

.region-sidebar.col-xs-5 {
  position: fixed;
  right: 0;
  top: 2px;
}

.region-map.col-md-12 {
  margin: 0 0 20px 0;
}

.region-content.col-md-8 {
    margin: 55px 0 60px 0;
}


#footer {
  margin: 36px 0 0 0;
}



/**
 * Throbber.
 */

/*
.ajax-progress .throbber,
.ajax-progress-fullscreen .throbber {
  visibility: visible;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background: #000;
  opacity: .5;
  transition: opacity 1s ease;
}


// Ajax Stuff
.ajax-progress-fullscreen {
  display: none;
}

.ajax-progress-fullscreen {
  display: block;
  animation-duration: 13s;
  animation-name: fadeInFromNone;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 13s;
  -webkit-animation-name: fadeInFromNone;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-duration: 13s;
  -ms-animation-name: fadeInFromNoneIE;
  -ms-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0.9
  }

  100% {
    opacity: 0.7
  }
}

@keyframes fadeInFromNoneIE {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0.9
  }

  100% {
    opacity: 0.7
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0.9
  }

  100% {
    opacity: 0
  }
}



@media (max-width: $screen-sm) {
  .container {
    margin-left: 50px;
  }
}
*/