// Helpers
// -----------------------------------------------------------------------------




body {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}


/* -- Ripple effect -------------------------------- */
.btn-default {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  background: #fff;
  opacity: 1;
}

.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

.mas-action,
a.scroll-to-top,
a.scroll-to-top span {
  display: none;
}

a.scroll-to-top.btn.btn-default.btn-circle.btn-md {
  position: fixed;
  z-index:10;
  bottom: 70px;
  right: 30px;
  box-shadow: 0 2px 5px #666;
}
