// Typography
// -----------------------------------------------------------------------------


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../../assets/fonts/sanfranciscodisplay-regular-webfont.woff");
}



body {
  @media (max-width: $screen-sm-min) {
    font-size: $font-size-base*0.8;
  }
}