// Styles for Forms
// -----------------------------------------------------------------------------


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:hover,
  textarea:hover,
  input:hover {
    font-size: 16px;
  }
}

.leaflet-control-geocoder-form input {

  @media (max-width: $screen-sm-max) {
    width: 280px!important;
  }
  @media (max-width: $screen-xs-max) {
    width: 220px!important;
  }
  @media (max-width: $screen-xs-min) {
    width: 180px!important;
  }
}

#locateMe {
  text-decoration: underline;
  cursor: pointer;
}

div#edit-body-0-format,
input#edit-preview,
input.form-type-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button{
  display:none!important;
}

.node-service-request-management-form .horizontal-tabs.clearfix {
    margin: 0 0 1em 0;
    padding: 10px;
    border: 0px solid #ccc;
    position: relative;
}

.node-service-request-management-form .horizontal-tabs .horizontal-tabs-list {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0px;
    list-style: none;
    background-color: #ffffff;
    border-right: 1px solid #dedede;
    width: 100%;
    height: auto;
    clear: both;
}

.node-service-request-management-form legend.panel-heading {
    border-radius: 2px;
    font-size: small;
}

.node-service-request-management-form ul.horizontal-tabs-list {}

.node-service-request-management-form .panel {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
}

.node-service-request-management-form .panel-body {
    padding: 15px 0;
}

.node-service-request-management-form .form-type-vertical-tabs,
.node-service-request-management-form .field-multiple-drag,
.node-service-request-management-form .tabledrag-toggle-weight-wrapper,
.node-service-request-management-form .filter-wrapper {
    display: none;
}


.node-service-request-management-form .form-item-field-request-image-0 {
  border-radius: $border-radius-base;
  padding: 10px 10px 0 10px;;
}


.image-widget {
  padding-left: 0;
  padding-right: 0;
  float:none
}

.image-preview {
  margin: 10px 0;
  max-width: 250px;
  float:left
}


span.file-size.badge,
span.file.file--image {
  float: right;
  display: inline-block;
  margin: 40px 10px;
}


#edit-field-request-image-wrapper input {
  margin: 30px 10px;

}

input#edit-field-request-image-0-upload,
input[name="field_request_image_0_upload_button"]{
  display:none!important
}

p#edit-field-request-image-0-upload--description {
  visibility: hidden;
  max-height: 50px;
}

p#edit-field-request-image-0-upload--description .visible {
  visibility: visible!important;
}

.field-multiple-table ,
.field-multiple-table tr,
.field-multiple-table td,
.field-multiple-table th {
    border: 0;
    padding: 15px
}



label.image-widget-data.btn.btn-block.btn-default {
    background: none;
    border: 1px solid #ddd;
    padding: 30px;
    text-transform: uppercase;
    background: #fff;
}