@media (min-width: $screen-lg) {

    .navbar-left {
        float: left !important;
        margin: 20px;
    }
}

@media (max-width: $screen-md-max) {
    .navbar-nav {
        float: none!important;
        margin: 0;

    }

    button.navbar-toggle.offcanvas-toggle {
        position: fixed;
        right: 0;
        top: 0;
        z-index:9999
    }
}

.navbar-toggle {
  @media (max-width: $screen-md) {
    display: block;
  }
  @media (min-width: $screen-sm) {
     .icon-bar {
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 1px;
    }
  }
}

.navbar {
  min-height: 20px;
}
.navbar-default {
    border-color: transparent;
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    
}