// Styles for Nodes
// -----------------------------------------------------------------------------
article.service-request--teaser {
  background: $gray-lighter;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.16), 
    0 0 0 1px rgba(0,0,0,0.08)
}

.service-request__field-category .label-default,
.service-request__field-status .label-default {
  display: block;
  width: 100%;
}

article.service-request--teaser.focus {
  background: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

article.service-request--gallery {
  padding: 0;
  margin: 30px 0 0 0;
  clear: both;
}

article.service-request--teaser {
  padding: 0;
  margin: 30px 0 40px 0;
  clear: both;
}

.page--service-request article.service-request {
  background: #fff;
}

article.service-request footer {
  font-style: italic;
  margin: 10px 0;
  padding: 0;
  color: $gray-light;
}

article.service-request--teaser .content,
article.service-request--teaser footer {
  padding: 10px;
  margin: 0;
}

.category-status {
  clear: left;
}


.service-request--gallery h2 {
  font-size: medium;
  min-height: 200px
}


.service-request h2:before {
  content: "\f030";
  font-family: FontAwesome;
  left: 48%;
  position: absolute;
  font-size: xx-large;
  color: #fff;
  opacity: 0.2;
  top: 40px
}

.view--front-gallery .service-request h2:before {
  left: inherit;
  right:30px;
  top: 40px
}


.service-request h2 {

  font-size: x-small;

  @media (min-width: $screen-lg-min) {
    font-size: x-large;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    font-size: x-large;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: large;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: x-small;
  }
  margin: 0;
  display: block;
}


.service-request h2 a:hover {
  text-decoration: none;
}

.service-request h4.field__label {
  margin: 20px 0 0 0;
  clear: left;
}

.service-request h2 a {
  color: #fff;
  padding: 20px 10px;
  display: inline-block;
  width:100%;
  height:100%

}

.service-request__field-address {
  padding: 10px 20px;
}

.service-request__field-address:before {
  font: normal normal normal 18px/1 FontAwesome;
  content: "\f041";
}
.service-request__field-address .field__item {
  margin: 20px 0;
}
.service-request__field-address .field__label {
  font-size: small;
}
.service-request__field-address .address .country{
  display:none;
}

.page--service-request .service-request__field-request-image {
  padding: 0;
  text-align:center;
  background: $gray-lighter;

}
.view--requests div.col-sm-6,
.category-status div.col-sm-12,
.category-status div.col-sm-6 {
  border-top: 1px solid $gray-light;
  margin: 0;
  min-height: 70px;
  @media (max-width: $screen-md-max) {
    min-height: 85px;
  }
  @media (max-width: $screen-sm-max) {
    min-height: 45px;
  }
  text-align: center;
  padding-top: 20px;
  background: $gray-lighter;
  .label{
    font-size: 100%;
  }
}


.service-request__field-status-notes {
  margin: 20px 0;
}

.service-request__field-status {
  border-right: 1px solid $gray-light;

  @media (max-width: $screen-sm-min) {
    border-right: none;
  }

}

.service-request__field-status div{
  border-left: none;
}

// Unactive status:
.service-request__field-status.col-sm-12.color- {
  display: none;
}


.field__item.label.label-default {
  background: none;
  text-align: center;
}

.col-sm-6.fa {
  .color-8B0000 {
    color: #8b0000;
  }
  .color-ff0000 {
    color: #FF0000;
  }
  .color-ffa500 {
    color: #ff8c4e;
  }
  .color-008000 {
    color: #008000;
  }
  .color-006400 {
    color: #006400;
  }
  .color-0000FF {
    color: #0000FF;
  }
  .color-00008b {
    color: #00008B;
  }
  .color-a020f0 {
    color: #A020F0;
  }
  .color-871f78 {
    color: #871F78;
  }
  .color-5f9ea0 {
    color: #5F9EA0;
  }
  .color-add8e6 {
    color: #20b4e4;
  }
  .color-d3d3d3 {
    color: #D3D3D3;
  }
  .color-808080 {
    color: #808080;
  }
  .color-000000 {
    color: #000000;
  }
  .color-f5f5fdc {
    color: #bbbb15;
  }
  .color-FFFFFF {
    color: #FFFFFF;
  }
}

article.service-request {
  @extend .col-sm-6.fa;
}

article .col-sm-6.fa {
  padding: 0;
  text-align: center;
  font-size: $font-size-base*1.1
}

.col-sm-12.fa {
  line-height: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

.list-markers.leaflet-control {
  margin: 40px;
  height: 300px;
  overflow: scroll
}

article.service-request .label-default {
  display: block;
  padding: 0 .6em .3em;
  line-height: 1;
  color: inherit;
  text-align: center;
  white-space: normal;
  background: none;
}
