.paragraph.color-_b0000 {
    border-left: 10px solid #8b0000;
}

.paragraph.color-_08000 {
    border-left: 10px solid #008000;
}

.paragraph.color-ffa500 {
    border-left: 10px solid #ff8c4e;
}

.paragraph.paragraph--type--status {
    background: $gray-lighter;
    padding: 10px;
    margin: 10px 0
}
