img.site-logo {
  float: none;
  margin: 20px auto;

  @media (min-width: 1200px) {
    max-height: 40px;
    max-width: 40px;
  }
  @media (max-width: $screen-sm-max) {
    max-height: 100px;
  }
  @media (max-width: $screen-md-max) {
    max-height: 80px;
  }
}

.region-head.col-md-12 .block.block--masradix-sitebranding {
  clear: both;
  margin: 0;
  text-align:center
}

span.site-name {
  display:none
}

span.site-slogan {
  float: none;
  display: block;
  margin: 8px auto;
  font-size: x-small;
}