

img.site-logo {
  float: none;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    max-height: 40px;
    max-width: 40px;
  }
  @media (max-width: $screen-md) {
    max-height: 50px;
    display: block;

  }

}

.region-head.col-md-12 .block.block--masradix-sitebranding {
  clear: both;
  margin: 0;
  text-align:center
}

span.site-name {
  display:none
}

span.site-slogan {
  float: none;
  display: block;
  margin: 8px auto;
  font-size: x-small;
}