// Styles for Views
// -----------------------------------------------------------------------------


.view-id-stats span.badge {
    display: inline-block;
    margin-left: 5px;
}

.view--requests .view__header {
  background: $gray-lighter;
  padding: 10px;
  width: 50%;
  height:120px;
  float: right;
  @media (max-width: $screen-xs-max) {
    width: 100%;
    height: inherit
  }
}


.view--requests .view__empty {
  font-size: large;
  clear: both;
  margin-top: 280px;
  position: absolute;
}


.view--requests .view__filters {
  background: $gray-light;
  /* float: left; */
  width: 50%;
  height: 120px;
  padding: 10px;

  @media (max-width: $screen-xs-max) {
    clear: both;
    width: 100%;
    height: inherit;
    top: 40px;
  }
  .close {
    float: right;
    font-size: small;
    font-weight: normal;
    line-height: 1;
    text-shadow: none;
    opacity: 1;

  }
}


.view--requests .view__filters a,
.view__filters div.form-item-field-status,
.view__filters div.form-item-field-category {
  display: none;
}

.view--requests .form-control.form-select {
    background-color: inherit !important
  
}

.view__filters a span {
  display: none;
}

.view__filters label {
  display: none;
}

.view__filters.exposed .form-type-select,
.view__filters.exposed a {
  display: block;
}

.view__filters.exposed {
  position: absolute;
  width: 49%;
  height: inherit;
  box-shadow: 1px 1px 5px #555;
  z-index: 10;
  -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.6s; /* Firefox < 16 */
  -ms-animation: fadein 0.6s; /* Internet Explorer */
  -o-animation: fadein 0.6s; /* Opera < 12.1 */
  animation: fadein 0.6s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.result-total {
  display: block;
  float: left;
  margin: 0 20px 0 0;
  padding: 5px;
  color: #555;
  @media (max-width: $screen-xs-max) {
    margin: 0 10px 0 0;
  }
}

span.result-filter {
  display: block;
  float: right;
  margin: 0 0 0 10px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  @media (max-width: $screen-xs-max) {
    margin-top: 3px;
  }
}

.view__row {
  clear: both;
}

.form-item.form-group.form-type-textfield.form-item-search-api-fulltext {
  background: #ddd;
}

.view__content {
  clear: left;
}


/*
Category and Status statistics
 */
.list-group-item span.fa {
  display: inline-block;
  width: 30px;
  text-align: center;
  opacity: 0.5;
}

